<div class="container mt-4">
	<div *ngIf="!isloading">
		<div id="carouseltest" class="carousel slide shadow-lg rounded-circle-30" data-bs-ride="carousel"
			data-bs-interval="2000" data-bs-pause="false">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img
						src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg"
						class="d-block w-100 rounded" alt="...">
				</div>
				<div class="carousel-item">
					<img
						src="https://img.freepik.com/free-photo/cascade-boat-clean-china-natural-rural_1417-1356.jpg?size=626&ext=jpg&ga=GA1.1.197415803.1718979107&semt=ais_hybrid"
						class="d-block w-100 rounded" alt="...">
				</div>
			</div>
		</div>
	</div>
</div>